

<div class="sidenav">
  <a style="color:aliceblue">Main Menu</a><br>
  
  <a routerLink="/add-category">Add Category</a>
  <a routerLink="/view-category">View Category</a>
  <a routerLink="/add-sub-category">Add subCategory</a>
  <a routerLink="/add-sub-sub-category">Add sub-subCategory</a>
  <a routerLink="/add-banner">Add Banner</a>
  <a routerLink="/view-banner">View Banner</a>
  <a routerLink="/add-advertiser">Add Advertisor</a>
  <a routerLink="/view-advertiser">View Advertiser</a>
  <a routerLink="/view-req-advertiser">View Request Advertisor</a>
  <a routerLink="/product-add">Product Add</a>
  <a routerLink="/view-product">View Product</a>
  <a routerLink="/add-product-csv">Add Product CSV</a>
  <a routerLink="/add-offer">Add offer</a>
  <a routerLink="/view-offer">View Offer</a>
  <a routerLink="/view-contact">Contact Us</a>
  <a routerLink="/registered">Registered</a>
</div>